@{
    ViewData["Title"] = "Zach's Web Dev!";
}

<div class="text-center pageHead">
    <h1 class="display-4">I like to make little websites</h1>
    <h3>I can teach you the basics of using HTML, CSS, and JavaScript to make decent-looking websites.</h3>
    <p>I spend a lot of time, at school and on my own, learning web development skills and trick to make better websites.
        I'm not a pro yet, but I like to think my stuff looks pretty cool. Visit the Pricing page to find out how much it'll cost
        for me to teach you what I know.
    </p>
    <br />
</div>
<div class="bodyContent">
    <h2>Here's some examples of my work:</h2>
    <h3>Personal Website I <a href="https://szachbagley.github.io/IS201/">(szachbagley.github.io /IS201/)</a></h3>
    <img src="~/lib/img/website1_1.png" />
    <img src="~/lib/img/website1_2.png" />
    <br />
    <br />
    <h2>Personal Website II <a href="https://zachbagley.net">(zachbagley.net)</a></h2>
    <img src="~/lib/img/website2_1.png" />
    <img src="~/lib/img/website2_2.png" />
    <br />
    <br />
    <h2><a href="https://provomentalhealth.org">provomentalhealth.org</a></h2>
    <img src="~/lib/img/intex.png" />
    <br />
    <br />
</div>
