@{
    ViewData["Title"] = "Zach of All Trades";
}

<div class="text-center">
    <h1 class="display-4">Welcome, traveler</h1>
    <h3>If you want to learn a lot about one thing, you've come to the wrong place- I can teach you a little bit about anything.</h3>
    <p>My hobbies range from roller skating to world religious history to programming. Admittedly, such breadth requires a 
        sacrifice of some depth. I can show you good form to get started with skiing, but after your first few runs, you won't have much use for me;
        I can give you a crash course on the basic causes, impacts, and key figures of the French Revolution, and even point you to some books for 
        further reading, but don't ask me the nuances of its economic consequences. If you want a deep dive, I'm not your guy (unless you're 
        abnormally interested in Star Wars lore- nobody ever bothered to tell me that my years of studying Wookieepedia would have no practical
        use in adulthood).
    </p>
    <br />
    <h3>Things I can tell you a little about</h3>
    <p>I have spent enough time studying or practicing these topics/activities to consider myself at least a mildy competent "hobbyist"</p>
    <ul>
        <li>Roller Skating</li>
        <li>Ice Skating</li>
        <li>Latter-day Saint History</li>
        <li>Star Wars (what does a "Star Wars hobbyist" do, exactly? I don't know, but this franchise has take to much of my life
            and mind for me not to put it on this list.)
        </li>
        <li>World religious history, especially Judaism and Islam</li>
        <li>Public Speaking</li>
        <li>Full-stack Programming</li>
        <li>Watersports</li>
        <li>Writing (fiction, technical stuff, poetry, whatever)</li>
        <li>Philosophy</li>
        <li>General Trivia</li>
        <li>Film (history, production, criticism, etc.)</li>
        <li>American Literature</li>
        <li>Dungeons and Dragons</li>
        <li>Game Development</li>
        <li>Psychology</li>
        <li>Advertising & Marketing</li>
        <li>Web Design</li>
        <li>Graphic design</li>
        <li>Piano</li>
        <li>Skiing</li>
        <li></li>
    </ul>
</div>